.owner-card {
  background-image: linear-gradient(118deg, #098da1 0%, #29bdef 100%);
  color: white;
}

.circle-photo {
  width: 12vw;
  height: 12vw;
  max-width: 170px;
  max-height: 170px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  border: 2px solid white;
}

.photo-circle {
  width: 92%;
  height: 92%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.gradient-text {
  background-image: linear-gradient(118deg, #098da1 50%, #29bdef 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contact-title {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}

.gray-line {
  position: absolute;
  right: 110%;
  width: 400%;
  margin-left: 10px;
  height: 2px;
  margin: 0 auto;
  background-color: #898989;
}

.gray-line::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #898989;
  border-radius: 50%;
}

@media (max-width: 1199px) {
  /* No specific changes yet */
}

@media (max-width: 767px) {
  .circle-photo {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 375px) {
  /* Placeholder for future responsive changes */
}
