.tarjeta-propietario{
    background-image: linear-gradient(118deg, #098da1 0%, #29bdef 100%);
    color: white;
  }

  .cicle-photo {
    width: 12vw;       /* 40% del ancho de la ventana, ajustable */
    height: 12vw; 
    max-width: 170px;  /* evita que crezca demasiado en pantallas grandes */
    max-height: 170px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    margin: 0 auto; /* Centra la imagen si es necesario */
    position: relative;
    z-index: 1;
    border: 2px solid white;
    
  }
  
  .photo-circle {
    width: 92%;
    height: 92%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
  }

  .texto-degradado{
    background-image: linear-gradient(118deg, #098da1 50%, #29bdef 100%);
    -webkit-background-clip: text;  /* Esta propiedad hace que el gradiente se aplique solo al texto */
    background-clip: text;
    color: transparent;
  }
  .titulo-contacto{
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  }
  .hor-line-gry{
    position: absolute;        /* Separación desde el borde derecho del texto */
    left: 100%;
    width: 400%;
    margin-left: 10px;
    height: 1px;
    margin: 0 auto;
    background-color: #00aaff;
  }

  .hor-line-gry::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;         /* Tamaño del punto */
    height: 8px;
    background-color: #00aaff;
    border-radius: 50%; /* Lo hace circular */
  }
  @media (max-width: 1199px) {
    
  }

  @media (max-width: 767px) {
    .cicle-photo {
        width: 170px;       /* 40% del ancho de la ventana, ajustable */
        height: 170px;
    }
  }

  @media (max-width: 375px) {}