.icon-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.feature-list li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #00aaff; /* blue */
  margin-right: 10px;
  vertical-align: middle;
}

.custom-card {
  min-height: 400px;
}

@media (max-width: 1199px) {
  .custom-card {
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .icon-circle {
    position: relative;
    top: 60px;
    left: 60px;
  }

  .card-section {
    padding-top: 0rem;
    padding-bottom: 9rem;
  }

  .custom-card {
    min-height: 400px;
  }
}

@media (max-width: 375px) {
  .icon-circle {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}