/* footer base */
.footer {
    background-color: #212529;
    color: #ffffff;
    width: 100%;
  }
  
  /* logo */
  .footer-logo {
    max-width: 120px;
  }
  
  /* icono LinkedIn */
  .LinkedIn-logo {
    font-size: 20px;
    color: #ffffff;
  }
  .texto {
    position: relative; /* Necesario para posicionar la línea dentro de este contenedor */
  }
  /* título de sección */
  .Section-title {
    border-left: 3px solid #21829d;
    padding-left: 10px;
    margin-left: -13px;
  }
  
  /* dirección */
  .footer-Address {
    margin-left: 23px;
  }
  
  /* responsive */
  @media (max-width: 768px) {
    .footer-logo {
      max-width: 100px;
    }
  
    .footer {
      text-align: center;
    }
  
    .col-md-2,
    .col-md-3 {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 1200px) {
    .footer-Address {
      margin-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .Section-title {
      width: fit-content;
      padding-left: 8px;
      margin: 0 auto;
    }
  }
  