body {
    font-family: Arial, sans-serif;
  }


.background-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00aaff; /* azul */
    clip-path: polygon(0% 100%, 0% 10%, 40% 10%, 35% 100%);
    z-index: 0;
  }

  .mid-line {
    position: absolute;
    top: 0; /* la pega arriba */
    left: 50%;
    transform: translateX(-50%) rotate(90deg); /* centrada y rotada */
    width: 80px; /* largo de la línea */
    height: 1px;
    background-color: #00aaff;
    z-index: 1; /* por delante del fondo azul */ 
  }

  .hor-line {
    position: absolute;
    top: 180px;
    right: -500px;       /* Separación desde el borde derecho del texto */
    width: 750px;
    height: 1px;
    background-color: #00aaff;
  }

  .hor-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;         /* Tamaño del punto */
    height: 8px;
    background-color: #00aaff;
    border-radius: 50%; /* Lo hace circular */
  }
  
  .contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagen-con-marcos {
    position: relative; /* << los marcos se posicionan respecto a este */
    display: inline-block;
  }
  
  .img-service {
    display: block;
    max-width: 35vh;
    height: auto;
    position: relative;
    z-index: 2;
  }
  
  .marco {
    position: absolute;
    width: 15vw;
    height: 15vw;
    max-width: 100px;
    max-height: 100px;
    z-index: 1;
  }
  
  .blanco {
    background-color: rgb(255, 255, 255);
    top: -3%;
    left: -3%;
  }
  
  .gris {
    background-color: #ccc;
    bottom: -3%;
    right: -3%;
  }




/*Puede que no sirva para absolutamente nada*/
.highlight {
  color: #00aaff;
}
.section-padding {
  padding: 60px 0;
}
.card-icon {
  font-size: 30px;
  margin-bottom: 20px;
}
.owner-card img {
  border-radius: 50%;
  width: 80px;
}
.use-case-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}