body {
    font-family: Arial, sans-serif;
  }
  .highlight {
    color: #00aaff;
  }
  .section-padding {
    padding: 60px 0;
  }
  .card-icon {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .owner-card img {
    border-radius: 50%;
    width: 80px;
  }
  .use-case-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }

  .background-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(37, 150, 190); /* azul */
    clip-path: polygon(0% 100%, 0% 0%, 42% 0%, 35% 100%);
    z-index: 0;
  }